#snapped-logo {
    display: none;
}

@media screen and (-ms-view-state: snapped) {
    .updateBabyProfile section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }

    .updateBabyProfile {
        display: none;
    }

    #snapped-logo {
        display: inline;
        margin: 150% 25%;
    }
}

.updateBabyProfile p {
    margin-left: 120px;
}

div#update-first-column, div#update-second-column {
    display: inline-block;
}

div#update-first-column {
    margin-right: 100px;
}

#update-profile-button {
    display: block;
}

#update-image-loader, #update-birthday-change, #update-profile-button {
width:150px;
margin-bottom:10px;
margin-top:10px;
}