.updateBabyProfile p {
    margin-left: 120px;
}

div#first-column, div#second-column {
    display: inline-block;
}

div#first-column {
    margin-right: 100px;
}

#update-profile-button {
    display: block;
}

#image-loader, #birthday-change, #update-profile-button {
width:150px;
margin-bottom:10px;
margin-top:10px;
}