#snapped-logo {
    display: none;
}

@media screen and (-ms-view-state: snapped) {
    .detailBabyEventl section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }

    .detailBabyEventl {
        display: none;
    }

    #snapped-logo {
        display: inline;
        margin: 150% 25%;
    }
}

.detailBabyEventl p {
    margin-left: 120px;
}

h3{
    font-size:20px !important;
}

#detailEvent-basicListView .win-item {
    width: 350px;
    height: 270px;
    padding: 20px;
}