.addProfile p {
    margin-left: 120px;
}

#form-name {
    position: relative;
    left: 100px;
}

#profile-image {
    position: absolute;
    height: 180px;
    width: 180px;
}

#input-container {
    position: relative;
    left: 200px;
}

#create-profile-button {
    position: relative;
    left: 500px;
}
