body {
    color: #FFC980;
    background-image:url("/images/sky-background.jpg");
    background-size:cover;
    font-family:cursive;
}

#go-to-login {
    font-size: 30px;
    border: none;
    position:relative;
    left:15%;
    top:35%;
    border: 1px solid #FFC980;
    padding: 5px 10px 5px 10px;
}

    #go-to-login:hover {
     font-style:italic;
     background-color:transparent;
    }
.win-backbutton, #home-app-bar {
     color: #FFC980;
     border-color:#FFC980;
}

.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

button {
    color: #FFC980;
    border: 2px solid #FFC980;
    font-family:cursive;
}

div {
    
}
#profiles-list.win-listview {
    background-color:transparent;
    height: 60%;
    width:90%;
    border:none;
    padding: 20px;
}

.win-container {
     background-color:transparent !important;
}

#short-profile-template {
    background-color:transparent;
}
#profiles-list.win-listview .win-item {
    background-color:transparent;
    padding: 10px;
    width: 400px;
    height: 350px;
    color:#FFC980;
}

#profiles-list.win-listview .win-item div {
font-size:18px;
}


#go-to-login {
    display: none;
}

#snapped-logo {
    display: none;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }

    .homepage {
        display: none;
    }

    #snapped-logo {
        display: inline;
        margin: 150% 25%;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}

#no-layout-responsive-message {
    display: none;
    font-size:20px;
}

#profiles-list {
    top:30px;
    height: 700px;
    /*border: solid 2px rgba(0, 0, 0, 0.13);*/
}

progress.withText
{
    color: inherit; /* Uses the same text color as the page */
    vertical-align: text-bottom; /* Makes the bottom of the control align with the bottom of its label */
    height: 50px;
    width: 50px;
}

.progressRingText
{
    font-family: cursive;
    font-size: 40px;
    line-height: 40px;
}

/* The margin to separate the ring and its label */
.progressRingText progress
{
    margin-right: 5px;
}

#progressRing {
    display: none;
    margin-top: 100px;
}
