<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="41001IvayloKirilov.JustaBabyDiary" Version="1.0.0.1" Publisher="CN=292F82B6-6F23-4F37-9E88-6BE86C17AED3" />
  <Properties>
    <DisplayName>Just a Baby Diary</DisplayName>
    <PublisherDisplayName>Ivaylo Kirilov</PublisherDisplayName>
    <Logo>images\storelogo.jpg</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Just a Baby Diary" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="JustABabyDiary" ForegroundText="dark" BackgroundColor="#FFFBF4">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\sleeping-baby.jpg" BackgroundColor="#1B72A8" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.fileSavePicker">
          <FileSavePicker>
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
            </SupportedFileTypes>
          </FileSavePicker>
        </Extension>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <FileType>.png</FileType>
              <FileType>.jpg</FileType>
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>