.addEvent p {
    margin-left: 120px;
}

#snapped-logo {
    display: none;
}

@media screen and (-ms-view-state: snapped) {
    .addEvent section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }

    .addEvent {
        display: none;
    }

    #snapped-logo {
        display: inline;
        margin: 150% 25%;
    }
}

/*div#add-event-form label {
font-size:20px;
}*/

#add-event-image-loader, #create-event-button {
    font-size: 18px;
    width: 250px;
    text-align: center;
}

#add-event-image-loader {
    margin-top: 10px;
    margin-bottom: 10px;
}

#images-list {
    height: 150px;
}
